@{
    ViewData["Title"] = "Choose Your Role Request";
}

<div id="send-role-requests-container">
    <h2 class="text-center" id="send-role-requests-dashboard-title">@ViewData["Title"]</h2>

    <div id="secondary-send-role-requests-container">
        <div class="dashboard-container">
            <a asp-controller="RoleRequest" asp-action="SendCompanyRoleRequest" asp-area="" class="dashboard-item" role="button">
                <i class="fas fa-building dashboard-icon"></i>
                <h5>Изпрати заявка за роля "Компания"</h5>
            </a>

            <a asp-controller="RoleRequest" asp-action="SendInstitutionRoleRequest" asp-area="" class="dashboard-item" role="button">
                <i class="fas fa-university dashboard-icon"></i>
                <h5>Изпрати заявка за роля "Институция"</h5>
            </a>
        </div>
    </div>
</div>
