@using PathFinder.ViewModels.RoleRequestViewModel;
@model RoleRequestSendViewModel

@{
    ViewData["Title"] = "Send Institution Role Request";
}

<div id="send-request-main-container">
    <h2 id="send-request-title">Send Institution Role Request</h2>

    <div id="send-request-sender-info-container">
        <form asp-action="SendInstitutionRoleRequest" method="post" class="role-request-form">
            <div class="form-group">
                <label asp-for="Sender" id="send-requests-text">Sender</label>
                <input asp-for="Sender" class="form-control" placeholder="Enter your name" />
                <span asp-validation-for="Sender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" id="send-requests-text">Description</label>
                <textarea asp-for="Description" class="form-control" rows="5" placeholder="Enter description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <button type="submit" class="send-request-btn">Send Request</button>
        </form>
    </div>
</div>