<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PathFinder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PathFinder.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home-page.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/admin-index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin-user-managment.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/role-request-form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin-role-requests.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/role-requests-index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about-us.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login-in.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/add-course.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/my-offers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all-offers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/course-details.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/job-details.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg custom-navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" id="navbar-main">
            <div class="container-fluid" id="navbar-inner-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    PathFinder
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div id="navbar-menu-titles-container">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="navbar-menu-title-home" asp-area="" asp-controller="Home" asp-action="Index">
                                    Начало
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Оферти
                                </a>
                                <ul class="dropdown-menu" id="offers-navbar-dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" id="offers-navbar-dropdown-menu-item" asp-area="" asp-controller="Job" asp-action="Index">
                                            Обяви за работа
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" id="offers-navbar-dropdown-menu-item" asp-area="" asp-controller="Course" asp-action="Index">
                                            Обяви за курсове
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="navbar-menu-title" asp-area="" asp-controller="RoleRequest" asp-action="Index">
                                        Изпрати заявки за роли
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Institution") || User.IsInRole("Admin"))
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="navbar-menu-title" asp-area="" asp-controller="Course" asp-action="Add">
                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18" viewBox="0 0 32 32">
                                            <path d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 15 10 L 15 15 L 10 15 L 10 17 L 15 17 L 15 22 L 17 22 L 17 17 L 22 17 L 22 15 L 17 15 L 17 10 Z"></path>
                                        </svg>
                                        Оферта за курс
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Company") || User.IsInRole("Admin"))
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="navbar-menu-title" asp-area="" asp-controller="Job" asp-action="Add">
                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18" viewBox="0 0 32 32">
                                            <path d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 15 10 L 15 15 L 10 15 L 10 17 L 15 17 L 15 22 L 17 22 L 17 17 L 22 17 L 22 15 L 17 15 L 17 10 Z"></path>
                                        </svg>
                                        Оферта за работа
                                    </a>
                                </li>
                            }



                            @if (User.IsInRole("Institution") || User.IsInRole("Admin"))
                            {
                                <li>
                                    <a class="nav-link text-dark" id="navbar-menu-title" asp-area="" asp-controller="Course" asp-action="MyOffers">
                                        Моите Оферти
                                    </a>
                                </li>
                            }
                            else if (User.IsInRole("Company") || User.IsInRole("Admin"))
                            {
                                <li>
                                    <a class="nav-link text-dark" id="navbar-menu-title" asp-area="" asp-controller="Job" asp-action="MyOffers">
                                        Моите Оферти
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="navbar-menu-title" asp-area="Admin" asp-controller="AdminPanel" asp-action="Index">Админ панел</a>
                                </li>
                            }
                        </ul>
                    </div>
              
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <p>&copy; 2025 PathFinder. All Rights Reserved.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
