#admin-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    height: 659px;
    width: 100%;
    background-color: #d98362;
}

.admin-dashboard-container {
    display: flex;
    background-color: rgb(255, 240, 219);
    justify-content: space-around;
    padding: 7em;
    height: 500px;
    width: 90%;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

#admin-panel-h2 {
    margin-top: 0;
    color: white;
    font-weight: 900;
}

.admin-dashboard-item {
    flex: 1 1 45%;
    height: 300px;
    background-color: #006d77;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;
    padding: 20px;
    min-width: 250px;
    max-width: 45em;
}

.admin-dashboard-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.admin-dashboard-item:hover .admin-dashboard-icon,
.admin-dashboard-item:hover h5 {
    color: white;
}

.admin-dashboard-icon {
    font-size: 70px;
    margin-bottom: 10px;
}

h5 {
    font-size: 1.5rem;
    font-weight: bold;
}
