#offers-index-main-container {
    height: 200vh;
    width: 100%;
    padding: 2em;
    background-color: #86ccd1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers-index-inner-container {
    position: relative;
    width: 40%;
    height: 40vh;
    padding: 3em;
    background-color: white;
    border-radius: 5px;
    border: solid 2px #297075;
    background-color: #fcf5eb;
    margin-bottom: 0.5em;
}

#all-offers-container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 2em;
    width: 100%;
    justify-content: center;
}

#offers-index-name {
    height: 6vh;
    color: white;
    border-radius: 5px;
    font-weight: 1000;
    background-color: #006d77;
    display: flex;
    justify-content: center;
    align-items: center;
}

#offers-index-description {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

#offers-index-view-details-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    color: black;
    font-weight: 600;
    background-color: #f7e2b7;
    cursor: pointer;
}

#offers-index-view-details-btn:hover {
    background-color: #f7dca3;
}

#offers-index-pagination {
    margin: 5em;
    display: flex;
    gap: 0.3em;
}

.pagination .page-item .page-link {
    color: #006d77;
    border-radius: 5px;
    margin: 0 3px;
    background-color: #fceecf
}

.page-item-btn {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-item-btn:first-child .page-link,
.pagination .page-item-btn:last-child .page-link {
    background-color: #008080;
    color: white;
    border-radius: 5px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-item-btn:first-child .page-link:hover,
.pagination .page-item-btn:last-child .page-link:hover {
    background-color: #005555; 
}

.pagination .page-item.active .page-link {
    background-color: #fadb9b;
    border-color: #006d77;
    color: #006d77;
    font-weight: bold;
}

#pagination-nav{
    width: 100%;
}


