html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#navbar-main {
    background-color: rgb(255, 240, 219);
    border-bottom: 2px solid #0056b3;
    padding: 0.6em;
}

#navbar-main-text {
    color: white;
    background-color: #006d77;
    border-radius: 5px;
    padding-inline: 1em;
    margin: 0.5em;
    border-image: none;
    border: 2px solid #025157;
}

#navbar-main-text:hover {
    background-color: #02929e;
}


