@model PathFinder.ViewModels.AboutUsViewModels.FounderViewModel

@{
    ViewData["Title"] = "About us";
}

<div id="about-us-main-container">
    @Model.FacebookLink
    @Model.GitHubLink
    @Model.InstagramLink
</div>